<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<!--POINT TO .MDF FILE ON LOCAL MACHINE-->
		<add name="Music"
		connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDBFilename=C:\Users\WinForms_Final_Project.mdf; Integrated Security=True"/>
	</connectionStrings>
</configuration>
